.my-box{
    height: 150px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    background-color: #DDE6ED;
    gap:3%;
    overflow: hidden; 
}

@font-face {
    font-family: 'Shadows Into Light';
    src: url('../fonts/shadows/ShadowsIntoLight-Regular.ttf');
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/workSans/WorkSans-Regular.ttf');
}

.logo{
    /* background-color: aqua; */
    height: 100%;
    width: 33%;
    display: flex;
    gap:2%;
    justify-content: center;
    align-items: center;
}

.logo p{
    font-family: 'Shadows Into Light', cursive;
    font-size: 60px;
    color: #19A7CE;
}

/*Corresponde al Logo*/
.mi-logo{
    height: 150px;
    width: 150px;
    background-image: url('../img/text-books.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.busca{
    width: 33%;
}

.compras{
    height: 100%;
    width: 33%;
    background-color: aqua;
    display: flex;
}

.carro{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    background-color: bisque;
}

.contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
}

.contenido p{
    font-family: 'Work Sans', sans-serif;
}

.cant{
    margin-top: 20px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.cant p{
    margin: 0;
}

.carrito{
    height: 60px;
    width: 60px;
    background-image: url('../icons/carts.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: cadetblue;
}

