@font-face {
    font-family: 'Shadows Into Light';
    src: url('../fonts/shadows/ShadowsIntoLight-Regular.ttf');
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/workSans/WorkSans-Regular.ttf');
}

.my-box{
    height: 150px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: #DDE6ED;
    gap:3%;
    overflow: hidden; 
}

/*-------------------------------------------------------------------------------*/
.logo{
    height: 100%;
    width: 33%;
    display: flex;
    gap:2%;
    justify-content: center;
    align-items: center;
}

.logo p{
    font-family: 'Shadows Into Light', cursive;
    font-size: 60px;
    color: #19A7CE;
}

/*Corresponde al Logo*/
.mi-logo{
    height: 150px;
    width: 150px;
    background-image: url('../img/text-books.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

/*-------------------------------------------------------------------------------*/

.busca{
    width: 33%;
    height: 100%;
    display: flex;
    gap:2%;
    justify-content: center;
    align-items: center;
}

/*-------------------------------------------------------------------------------*/

.compras{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.favoritos{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.corazon{
    height: 40px;
    width: 40px;
    background-image: url('../icons/heart.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carro{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.carrito{
    height: 40px;
    width: 40px;
    background-image: url('../icons/carts.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenido p{
    font-family: 'Work Sans', sans-serif;
    color: #159895;
}

.text-carro:hover{
    color: #002B5B;
}


.cant{
    margin-top: 20px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #fec107;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.cant p{
    margin: 0;
    color: #fff;
}

.new-color{
    background-color: red;
}








