

.my-container{
    margin-top: 50px;
    margin-bottom: 50px;
    height: 100vh;
    width: 80%;  
    font-family: 'Work Sans', sans-serif;
    position: relative; 
    z-index: 1;
  }


  .letrero{
    margin-top: 230px;
  }
/*   
.el-contenedor{
    margin-top: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F05454;
} */

.detalle-carrito{
    width: 100%;
    background-color:#F7E1AE;
    padding: 10px;
}
.mi-info{
    height: 100vh;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/workSans/WorkSans-Regular.ttf');
}