@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/workSans/WorkSans-Regular.ttf');
}

.card-horizontal{

    height: 430px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    margin-top: 45px;
    font-family: 'Work Sans', sans-serif;
}

.detalle{
    min-height: 100vh;
    margin-top: 230px;
    position: relative; 
    z-index: 1;
}

.btn-no-underline {
    text-decoration: none;
}

.col-md-4 {
    height: 100%;
  }
