

.cambia-color:hover {
    color: #fec107 !important;
    font-weight: normal !important;
}

.nav-item a:hover{
    border-bottom:1px solid #fec107 !important;
}

.custom-navbar {
    height: 80px; 
}

.navbar-nav .nav-item {
    margin-right: 40px; /* Ajusta el valor del margen según el espacio deseado */
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/workSans/WorkSans-Regular.ttf');
}

a{
    font-family: 'Work Sans', sans-serif;
}

.contiene{
    max-width: 80%;
}

.registro{
    color: #fec107;
    text-decoration: none;
}

.registro:hover{
    color: #FF6D60;
}

.registro-dos{
    color: #6DDABE;
    text-decoration: none;
}

.registro-dos:hover{
    color: #FF6D60;
}

.icono-usuario{
    height: 50px;
    width: 50px;
    background-image: url('../icons/userIcon.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.icono-logout{
    height: 50px;
    width: 50px;
    background-image: url('../icons/logout.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.letra-sesion{
    color: #fff;
}




